/*External css file */
h1{font-size: 32px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  font:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif size 32px;
 padding: 50px 600px 30px 600px;}
 
  b{
      font-size: 32px;
  }
  div{
    border: 1PX SOLID black;
    MARGIN: TOP 5PX;
    PADDING:20PX;
  }
  h1{
    <img scr=""
 
  }
  img1{padding:100px 200px 50px 500px;
 
  }
  background-colour:

  /*img border*/
  <img style="border:5px double black;"
  src="seat.png">